.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.myModalContent {
    position: relative;
    padding: 45px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    z-index: 10;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeModal {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
}

.closeModal:hover {
    opacity: 1;
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}
